[package]
name = "telio-shared"
version = "1.0.0"
edition = "2018"
license = "GPL-3.0-only"
repository = "https://github.com/NordSecurity/libtelio"

[dependencies]
thiserror = "1.0"

[target.'cfg(any(target_os = "linux", target_os = "macos"))'.dependencies]
interfaces = "0.0.8"

[dev-dependencies]
boringtun = { git = "https://github.com/NordSecurity/boringtun.git", tag = "v1.1.0" }
pnet = "0.28.0"
