[package]
name = "telio-sockets"
version = "0.1.0"
edition = "2018"
license = "GPL-3.0-only"
repository = "https://github.com/NordSecurity/libtelio"
publish = false

[dependencies]
neptun.workspace = true
libc.workspace = true
tracing.workspace = true
parking_lot.workspace = true
socket2.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
mockall = { workspace = true, optional = true }
nix.workspace = true

telio-utils.workspace = true
once_cell.workspace = true

[dev-dependencies]
mockall.workspace = true
rstest.workspace = true

[target.'cfg(target_os = "linux")'.dev-dependencies]
nix = { workspace = true, features = ["user"] }

[target.'cfg(any(target_os = "ios", target_os = "tvos"))'.dependencies]
objc = "0.2.7"
objc-foundation = "0.1.1"
version-compare = "0.2"

[target.'cfg(any(target_os = "macos", target_os = "ios", target_os = "tvos"))'.dependencies]
debug_panic = "0.2.1"
system-configuration = { git = 'https://github.com/NordSecurity/system-configuration-rs.git' }
network-framework-sys = "0.1"
block = "0.1"
dispatch = { git = "https://github.com/NordSecurity/rust-dispatch.git", rev = "13447cd7221a74ebcce1277ae0cfc9a421a28ec5" }


[target.'cfg(windows)'.dependencies]
winapi = { workspace = true, features = [
    "ntdef",
    "winerror",
    "iptypes",
    "iphlpapi",
    "impl-default",
] }
windows = { workspace = true, features = [
    "Win32_Networking_WinSock",
    "Win32_NetworkManagement_IpHelper",
] }
