[package]
name = "telio-sockets"
version = "0.1.0"
edition = "2018"
license = "GPL-3.0-only"
repository = "https://github.com/NordSecurity/libtelio"

[dependencies]
async-trait = "0.1.51"
futures = "0.3"
ipnet = "2.3.0"
libc = "0.2.112"
tokio = { version = ">=1.22", features = ["full"] }
socket2 = "0.4.7"
log = { version = "0.4.14", features = ["release_max_level_info"]}

telio-utils = { path = "../telio-utils" }

boringtun = { git = "https://github.com/NordSecurity/boringtun.git", tag = "v1.1.0" }

[target.'cfg(target_os = "macos")'.dependencies]
system-configuration = "0.5.0"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["netioapi", "ntdef", "winerror", "ws2def", "iptypes", "iphlpapi", "impl-default"] }
windows = { version = "0.34.0", features = ["alloc", "Win32_Networking_WinSock", "Win32_NetworkManagement_IpHelper"] }

[dev-dependencies]
mockall = "0.11.2"
