Cargo.lock
tcli.log
/.*/
!/.cargo
!/.github
!/.gitlab
!/.unreleased
*.pyc
*.box
*.deb
*.nix
*.prepared*
/nat-lab/data/tcli*
/3rd-party/boringtun
/3rd-party/ci-helper-scripts/
/3rd-party/libmoose
/3rd-party/nordderper
/nat-lab/3rd-party/iptables
/nat-lab/3rd-party/netfilter-full-cone-nat
/nat-lab/tests/uniffi/telio_bindings.py
/nat-lab/tests/uniffi/libtelio.so
/nat-lab/tests/uniffi/telio.dll
/nat-lab/logs
/nat-lab/coredumps
/src/telio.py
/3rd-party/wireguard-go/*.lib
/3rd-party/wireguard-go/*.h
/3rd-party/wireguard-go/*.a
/3rd-party/wireguard-go/.pc
/3rd-party/wireguard-go/defaultroutemonitor_windows.go
/3rd-party/wireguard-go/interfacewatcher_windows.go
/build/
/dist/
target/
/target-android/
/target-linux/
/target-natlab/
/target-windows/
/windows-local-dev-out/
/patches/boringtun/*~
/patches/wireguard-go/*~
/nat-lab/*.log
/nat-lab/.vagrant
/nat-lab/bin/wireguard-go
__pycache__
event.db
alpha-events.db
beta-events.db
gamma-events.db
nat-lab/**/report.html
events-moose.log
