Cargo.lock
tcli.log
/.*/
!/.cargo
!/.github
!/.gitlab
!/.unreleased
*.pyc
*.box
*.deb
*.nix
*.prepared*
*.dylib
/nat-lab/data/tcli*
/3rd-party/ci-helper-scripts/
/3rd-party/libmoose
/3rd-party/nordderper
/nat-lab/3rd-party/iptables
/nat-lab/3rd-party/netfilter-full-cone-nat
/nat-lab/tests/uniffi/telio_bindings.py
/nat-lab/tests/uniffi/libtelio.so
/nat-lab/tests/uniffi/telio.dll
/nat-lab/data/nordvpnlite/data.json
/nat-lab/logs
/nat-lab/coredumps
/nat-lab/docker-compose.yml.bak
/src/telio.py
/build/
/dist/
target/
/target-android/
/target-linux/
/target-natlab/
/target-windows/
/windows-local-dev-out/
/nat-lab/*.log
__pycache__
event.db
alpha-events.db
beta-events.db
gamma-events.db
nat-lab/**/report.html
events-moose.log
report.json
/contrib/http_root/cgi-bin/builder
*_pb2*.py
/nat-lab/bin/*.ipk
benchmark_results
