Cargo.lock
tcli.log
.*
*.pyc
*.box
*.deb
*.nix
/3rd-party/boringtun
/3rd-party/ci-helper-scripts/
/3rd-party/libmoose
/3rd-party/nordderper
/nat-lab/3rd-party/iptables
/nat-lab/3rd-party/netfilter-full-cone-nat
/3rd-party/wireguard-go/*.lib
/3rd-party/wireguard-go/*.h
/3rd-party/wireguard-go/*.a
/3rd-party/wireguard-go/.prepared
/3rd-party/wireguard-go/.pc
/3rd-party/wireguard-go/defaultroutemonitor_windows.go
/3rd-party/wireguard-go/interfacewatcher_windows.go
/build/
/dist/
target/
/target-android/
/target-linux/
/target-natlab/
/target-windows/
/windows-local-dev-out/
/patches/boringtun/*~
/patches/wireguard-go/*~
/ffi/bindings/*.i
/nat-lab/*.log
/nat-lab/.vagrant
/nat-lab/bin/wireguard-go
/ffi/bindings/android/csharp
/ffi/bindings/android/go
/ffi/bindings/android/wrap/csharp_wrap.c
/ffi/bindings/android/wrap/go_wrap.c
/ffi/bindings/darwin
/ffi/bindings/windows/wrap/go_wrap.c
/ffi/bindings/windows/go
/ffi/bindings/windows/wrap/java_wrap.c
/ffi/bindings/windows/java
/ffi/bindings/linux/csharp
/ffi/bindings/linux/wrap/csharp_wrap.c
/ffi/bindings/linux/java
/ffi/bindings/linux/wrap/java_wrap.c
/ffi/bindings/linux/go/go.mod
/ffi/bindings/android/wrap/csharp_wrap.msvc_exports.lst
/ffi/bindings/android/wrap/csharp_wrap.gnuld_exports.lst
/ffi/bindings/android/wrap/go_wrap.msvc_exports.lst
/ffi/bindings/android/wrap/go_wrap.gnuld_exports.lst
/ffi/bindings/linux/wrap/csharp_wrap.msvc_exports.lst
/ffi/bindings/linux/wrap/csharp_wrap.gnuld_exports.lst
/ffi/bindings/linux/wrap/java_wrap.msvc_exports.lst
/ffi/bindings/linux/wrap/java_wrap.gnuld_exports.lst
/ffi/bindings/windows/wrap/go_wrap.msvc_exports.lst
/ffi/bindings/windows/wrap/go_wrap.gnuld_exports.lst
/ffi/bindings/windows/wrap/java_wrap.msvc_exports.lst
/ffi/bindings/windows/wrap/java_wrap.gnuld_exports.lst
/ffi/helpers/go/go.mod
__pycache__
event.db
alpha-events.db
beta-events.db
gamma-events.db