libtelio-build-pipeline:
  variables:
    LIBTELIO_COMMIT_SHA: $CI_COMMIT_SHA
    LIBTELIO_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
    LIBTELIO_PROJECT_NAME: $CI_PROJECT_NAME
    LIBTELIO_PROJECT_PATH: $CI_PROJECT_PATH

    # Don't checkout libtelio submodule when using GIT_SUBMODULE_STRATEGY.
    # This ensures that all jobs that use `libtelio` submodule are calling
    # `ci/checkout.sh`, which uses `LIBTELIO_COMMIT_SHA` to
    # checkout the correct libtelio REF.
    GIT_SUBMODULE_PATHS: ':(exclude)libtelio'

  trigger:
    project: $LIBTELIO_BUILD_PROJECT_PATH
    branch: master
    strategy: depend
