[package]
name = "telio-firewall"
version = "0.1.0"
edition = "2018"
license = "GPL-3.0-only"
repository = "https://github.com/NordSecurity/libtelio"
publish = false

[features]
test_utils = [] # For use in benchmarks to avoid duplication of the 'setup' code needed to create buffers with valid packets

[dependencies]
hashlink.workspace = true
log.workspace = true
mockall = { workspace = true, optional = true }
pnet_packet.workspace = true
rustc-hash.workspace = true

telio-crypto.workspace = true
telio-utils.workspace = true

[dev-dependencies]
criterion = "0.3"

mockall.workspace = true
proptest.workspace = true
proptest-derive.workspace = true
rand.workspace = true
sn_fake_clock.workspace = true

telio-utils = { workspace = true, features = ["sn_fake_clock"] }

[[bench]]
name = "firewall_bench"
harness = false
