[package]
name = "telio-utils"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0-only"
repository = "https://github.com/NordSecurity/libtelio"
publish = false

[features]
sn_fake_clock = ["dep:sn_fake_clock"]
arbitrary = ["dep:proptest-derive", "dep:proptest"]

[dependencies]
backtrace = "0.3.76"
blake3.workspace = true
boot-time = { git = "https://github.com/NordSecurity/boot_time.git", rev = "14f9a90d43a601ae50e69044894538c1398120a7" }
futures.workspace = true
hashlink.workspace = true
ipnet.workspace = true
mockall = { workspace = true, optional = true }
parking_lot.workspace = true
proptest = { workspace = true, optional = true }
proptest-derive = { workspace = true, optional = true }
rand.workspace = true
regex.workspace = true
rustc-hash.workspace = true
serde.workspace = true
smart-default.workspace = true
sn_fake_clock = { workspace = true, optional = true }
thiserror.workspace = true
tokio = { workspace = true, features = ["time"] }
tracing.workspace = true
zeroize = { workspace = true, features = ["derive"] }

[dev-dependencies]
lru_time_cache = { version = "0.11.11", features = ["sn_fake_clock"] }

maplit.workspace = true
mockall.workspace = true
proptest.workspace = true
proptest-derive.workspace = true
rstest.workspace = true
sn_fake_clock = { workspace = true }
tokio = { workspace = true, features = ["time", "rt", "macros", "test-util"] }

telio-test.workspace = true

[lints.rust]
unexpected_cfgs = { level = "allow", check-cfg = ['cfg(kani)'] }
