[package]
name = "telio-utils"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0-only"
repository = "https://github.com/NordSecurity/libtelio"
publish = false

[features]
sn_fake_clock = ["dep:sn_fake_clock"]
# Compile task crate for testing
test-util = []

[dependencies]
futures.workspace = true
hashlink.workspace = true
ipnet.workspace = true
mockall = { workspace = true, optional = true }
parking_lot.workspace = true
rand.workspace = true
rustc-hash.workspace = true
serde.workspace = true
smart-default.workspace = true
sn_fake_clock = { workspace = true, optional = true }
socket2.workspace = true
surge-ping.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["time"] }
tracing.workspace = true

[dev-dependencies]
lru_time_cache = { version = "0.11.11", features = ["sn_fake_clock"] }

maplit.workspace = true
mockall.workspace = true
proptest.workspace = true
proptest-derive.workspace = true
rand.workspace = true
tokio = { workspace = true, features = ["time", "rt", "macros", "test-util"] }

telio-test.workspace = true
