/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #2a2b32;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.container {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    max-width: 600px
}

.pannel {
    background: #ffffff;
    box-shadow:
        0 0 0 1px rgba(56,60,67,.05),
        0 1px 3px 0 rgba(56,60,67,.15);
    padding: 24px;
    margin: 40px 24px 0px;
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
}