[package]
name = "telio-relay"
version = "0.1.0"
edition = "2018"
license = "GPL-3.0-only"
repository = "https://github.com/NordSecurity/libtelio"
publish = false

[features]
enable_ens = ["telio-proto/enable_ens"]

[dependencies]
rand_core = { workspace = true, default-features = false }
tokio-rustls = { version = "0.26.4", default-features = false }
tokio-util = "0.7.17"
tokio-stream = { default-features = false, version = "0.1.17" }

async-trait.workspace = true
bytes.workspace = true
crypto_box.workspace = true
futures.workspace = true
httparse.workspace = true
mockall_double.workspace = true
num_enum.workspace = true
rand.workspace = true
rustls-platform-verifier.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["io-util", "net", "sync"] }
tracing.workspace = true
url.workspace = true

telio-crypto.workspace = true
telio-model.workspace = true
telio-nurse.workspace = true
telio-proto.workspace = true
telio-sockets.workspace = true
telio-task.workspace = true
telio-utils.workspace = true
webpki-roots = "1.0.4"
smart-default.workspace = true

[dev-dependencies]
async-std = { version = "1.13", features = ["attributes"] }
criterion = "0.5"

env_logger.workspace = true
hex.workspace = true
ntest.workspace = true
rstest.workspace = true
tokio = { workspace = true, features = [
  "macros",
  "rt-multi-thread",
  "io-std",
  "time",
  "test-util",
] }

telio-nurse = { workspace = true, features = ["mockall"] }
telio-task = { workspace = true, features = ["test-util"] }
telio-test.workspace = true
hyper = { version = "1.8.1", features = ["full", "http1"] }
hyper-util.workspace = true
http-body-util = "0.1.3"

[[bench]]
name = "relay_bench"
harness = false

[target.'cfg(windows)'.dependencies]
static_assertions = "1.1.0"
