[package]
name = "telio-wg"
version = "0.1.0"
edition = "2018"
license = "GPL-3.0-only"
repository = "https://github.com/NordSecurity/libtelio"
publish = false

[features]
test-adapter = []

[dependencies]
slog-stdlog = "4.1.1"
wireguard-uapi = { git = "https://github.com/NordSecurity/wireguard-uapi-rs.git", rev = "5f5d9952ced4faf10f56d98153e4a8e560102e5c", features = ["xplatform", "zeroize"], default-features = false  }

async-trait.workspace = true
neptun.workspace = true
futures.workspace = true
hex.workspace = true
ipnet.workspace = true
lazy_static.workspace = true
libc.workspace = true
tracing.workspace = true
mockall = { workspace = true, optional = true }
num_cpus.workspace = true
rand.workspace = true
serde.workspace = true
serde_json.workspace = true
slog.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }

telio-crypto.workspace = true
telio-model.workspace = true
telio-network-monitors.workspace = true
telio-sockets = { workspace = true, features = ["mockall"] }
telio-task.workspace = true
telio-utils.workspace = true
itertools.workspace = true
nix.workspace = true

[dev-dependencies]
mockall.workspace = true
ntest.workspace = true
pretty_assertions.workspace = true
tokio = { workspace = true, features = ["test-util"] }

telio-firewall.workspace = true
telio-task = { workspace = true, features = ["test-util"] }
telio-test.workspace = true
proptest.workspace = true
proptest-derive.workspace = true
test-log = { version = "0.2.17", features = ["trace"] }

[build-dependencies]
cc.workspace = true

[target.'cfg(windows)'.dependencies]
telio-pinger.workspace = true
sha2.workspace = true
winapi = { workspace = true, features = ["nldef"] }
winreg.workspace = true
uuid.workspace = true

wireguard-nt = { git = "https://github.com/NordSecurity/wireguard-nt-rust-wrapper", tag = "v1.2.0" }

windows = { workspace = true, features = [
    "Win32_Security",
    "Win32_System",
    "Win32_System_Services",
    "Win32_Foundation"
]}
