[package]
name = "telio-dns"
version = "0.1.0"
edition = "2018"
license = "GPL-3.0-only"
repository = "https://github.com/NordSecurity/libtelio"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.13.0"
boringtun = { git = "https://github.com/NordSecurity/boringtun.git", tag = "v1.1.0" }
pnet_packet = "0.28.0"
tokio = { version = ">=1.22", features = ["rt", "net", "sync", "macros"] }
trust-dns-client = { git = "https://github.com/NordSecurity/trust-dns.git", tag = "v1.0.0" }
trust-dns-proto = { git = "https://github.com/NordSecurity/trust-dns.git", tag = "v1.0.0" }
trust-dns-resolver = { git = "https://github.com/NordSecurity/trust-dns.git", tag = "v1.0.0" }
trust-dns-server = { git = "https://github.com/NordSecurity/trust-dns.git", tag = "v1.0.0", features = ["resolver"] }
async-trait = "0.1.51"
lazy_static = "1.4.0"
log = {version = "0.4.14", features = ["release_max_level_info"]}
libc = "0.2.99"
ipnetwork = "0.18"

telio-crypto = { path = "../telio-crypto" }
telio-utils = { path = "../telio-utils" }
telio-wg = { path = "../telio-wg" }
telio-model = { path = "../telio-model" }

[dev-dependencies]
dns-parser = "0.8.0"
