[package]
name = "telio-traversal"
version = "0.1.0"
edition = "2018"
license = "GPL-3.0-only"
repository = "https://github.com/NordSecurity/libtelio"
publish = false

[dependencies]
bytecodec = "0.5.0"
igd = { git = "https://github.com/NordSecurity/rust-igd.git", tag = "v0.13.1", features = ["aio"], default-features = false }
stun_codec = "0.4"

async-trait.workspace = true
enum-map.workspace = true
futures.workspace = true
if-addrs.workspace = true
ipnet.workspace = true
lazy_static.workspace = true
tracing.workspace = true
mockall = { workspace = true, optional = true }
parking_lot.workspace = true
rand.workspace = true
surge-ping.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }

telio-crypto.workspace = true
telio-model.workspace = true
telio-network-monitors.workspace = true
telio-proto.workspace = true
telio-sockets.workspace = true
telio-task.workspace = true
telio-utils.workspace = true
telio-wg.workspace = true
telio-pinger.workspace = true

[dev-dependencies]
env_logger.workspace = true
maplit.workspace = true
mockall.workspace = true
ntest.workspace = true
tokio = { workspace = true, features = ["test-util"] }

telio-task = { workspace = true, features = ["test-util"] }
telio-test.workspace = true
telio-utils = { workspace = true, features = ["mockall"] }
telio-wg = { workspace = true, features = ["mockall"] }
rstest.workspace = true
