[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiodocker = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-html = "*"
asyncssh = ">=2.14.2"
pytest-rerunfailures = "*"
dataclasses-json = "*"
pytest-order = "*"
pytest-timeout = "*"
flatten-json = "*"
python-wireguard = "*"
cryptography = "*"
aiohttp = "*"
aiosignal = "*"
async-timeout = "*"
attrs = "*"
cffi = "*"
charset-normalizer = "*"
exceptiongroup = "*"
frozenlist = "*"
idna = "*"
iniconfig = "*"
marshmallow = "*"
multidict = "*"
mypy-extensions = "*"
packaging = "*"
pluggy = "*"
protobuf = "==3.20.3"
py = "*"
pycparser = "*"
pyro5 = "==5.15"
pytest-metadata = "*"
pytest-repeat = "*"
six = "*"
tomli = "*"
types-protobuf = "==3.19.21"
typing-extensions = "*"
typing-inspect = "*"
yarl = "*"

[dev-packages]

[requires]
