aiodocker ~= 0.21
mypy ~= 1.4.1
pytest ~= 7.2
pytest-asyncio ~= 0.18
pytest-html ~= 3.2.0
asyncssh ~= 2.9
pytest-rerunfailures ~= 10.2
dataclasses-json ~= 0.5.7
pytest-order ~= 1.0.1
pytest-timeout == 2.1.0
flatten_json ~= 0.1.13

# Latest version compatible with protobuf 3.20.3
types-protobuf == 3.19.21
# Must match libprotoc version used to generate proto files
protobuf == 3.20.3

# Force latest (as of now) stable version to fix CVEs.
cryptography ~= 41.0.1
