name: Build
on: [workflow_call]
permissions: {}

jobs:
  generate-bindings:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          submodules: true
      - name: Generate bindings
        run: python3 ci/build_libtelio.py bindings
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: libtelio-bindings
          path: dist/

  build-native:
    strategy:
      matrix:
        include:
          - arch: x86_64
            target_os: macos
            runner: macos-12
          - arch: aarch64
            target_os: macos
            runner: macos-12
          - arch: aarch64
            target_os: ios
            runner: macos-12
          - arch: x86_64
            target_os: windows
            runner: windows-2022
          - arch: aarch64
            target_os: windows
            runner: windows-2022
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          submodules: true
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          key: ${{ matrix.target_os }}-${{ matrix.arch }}
      - name: Setup MSVC
        uses: egor-tensin/vs-shell@9a932a62d05192eae18ca370155cf877eecc2202 # v2.1
        if: ${{ matrix.target_os == 'windows' }}
      - name: Build libtelio
        run: python3 ci/build_libtelio.py build ${{ matrix.target_os }} ${{ matrix.arch }} --msvc
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: libtelio-build-${{ matrix.target_os }}-${{ matrix.arch }}
          path: dist/

  build-docker:
    strategy:
      matrix:
        include:
          - arch: x86_64
            target_os: linux
          - arch: i686
            target_os: linux
          - arch: aarch64
            target_os: linux
          - arch: armv7hf
            target_os: linux
          - arch: armv5
            target_os: linux
          - arch: x86_64
            target_os: android
          - arch: i686
            target_os: android
          - arch: aarch64
            target_os: android
          - arch: armv7
            target_os: android
          - arch: x86_64
            target_os: windows
    runs-on: ubuntu-22.04
    container: |-
      ${{ matrix.target_os == 'linux' && 'ghcr.io/nordsecurity/build-linux-rust1.77.2:v0.0.1' ||
          matrix.target_os == 'android' && 'ghcr.io/nordsecurity/build-android-rust1.77.2:v0.0.1' ||
          'ghcr.io/nordsecurity/build-windows-rust1.77.2:v0.0.1' }}
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          submodules: true
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          key: ${{ matrix.target_os }}-${{ matrix.arch }}
      - name: Build libtelio
        run: python3 ci/build_libtelio.py build ${{ matrix.target_os }} ${{ matrix.arch }}
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: libtelio-build-${{ matrix.target_os }}-${{ matrix.arch }}
          path: dist/
