name: Build
on: [workflow_call]
permissions: {}

jobs:
  generate-bindings:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
      - name: Generate bindings
        run: python3 ci/build_libtelio.py bindings --dockerized
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: libtelio-bindings
          path: dist/

  build-native:
    strategy:
      matrix:
        include:
          - arch: x86_64
            target_os: macos
            runner: macos-15-intel
          - arch: aarch64
            target_os: macos
            runner: macos-15
          - arch: aarch64
            target_os: ios
            runner: macos-15
          - arch: x86_64
            target_os: windows
            runner: windows-2022
          - arch: aarch64
            target_os: windows
            runner: windows-2022
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          key: ${{ matrix.target_os }}-${{ matrix.arch }}
      - name: Setup MSVC
        uses: egor-tensin/vs-shell@9a932a62d05192eae18ca370155cf877eecc2202 # v2.1
        if: ${{ matrix.target_os == 'windows' }}
      - name: install python3-requests
        run: pip3 install requests==2.32.3 --break-system-packages
      - name: Build libtelio
        run: python3 ci/build_libtelio.py build ${{ matrix.target_os }} ${{ matrix.arch }} --msvc
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: libtelio-build-native-${{ matrix.target_os }}-${{ matrix.arch }}
          path: dist/

  build-docker:
    strategy:
      matrix:
        include:
          - arch: x86_64
            target_os: linux
          - arch: i686
            target_os: linux
          - arch: aarch64
            target_os: linux
          - arch: armv7hf
            target_os: linux
          - arch: armv5
            target_os: linux
          - arch: x86_64
            target_os: android
          - arch: i686
            target_os: android
          - arch: aarch64
            target_os: android
          - arch: armv7
            target_os: android
          - arch: x86_64
            target_os: windows
    runs-on: ubuntu-22.04
    container: |-
      ${{ matrix.target_os == 'linux' && 'ghcr.io/nordsecurity/build-linux-rust1.89.0:v7.2.3' ||
          matrix.target_os == 'android' && 'ghcr.io/nordsecurity/build-android-rust1.89.0:v7.2.2' ||
          'ghcr.io/nordsecurity/build-windows-rust1.89.0:v7.2.2' }}
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          key: ${{ matrix.target_os }}-${{ matrix.arch }}
      - name: Build libtelio
        run: python3 ci/build_libtelio.py build ${{ matrix.target_os }} ${{ matrix.arch }}
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: libtelio-build-docker-${{ matrix.target_os }}-${{ matrix.arch }}
          path: dist/
