name: Definition of Done
on:
  pull_request:
    types: [opened, synchronize]
  merge_group:
    types: checks_requested
permissions: {}

jobs:
  generate-changelog-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
      with:
        just-version: '1.38.0'
    - name: Install uv
      uses: astral-sh/setup-uv@4db96194c378173c656ce18a155ffc14a9fc4355 # 5.2.2
      with:
        # Install a specific version of uv.
        version: "0.5.11"
    - run: just changelog_test
  check-changelog:
    runs-on: ubuntu-latest
    # Excluding Dependabot PRs from this check.
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Check for new file in .unreleased
        # Excluding Dependabot PRs and merge_group events from this check.
        if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
        run: |
          FILE_COUNT=$(git diff --name-only ${{github.event.pull_request.base.sha}}..HEAD -- .unreleased | wc -l)
          if [ "$FILE_COUNT" -eq "0" ]; then
            echo "No new file in .unreleased directory. Please add a new file describing your changes."
            exit 1
          fi
