name: CI
on:
  push:
    branches: ['main', 'release/**']
  pull_request:
  merge_group:
    types: checks_requested

permissions: {}

jobs:
  build:
    uses: ./.github/workflows/build.yml
  linters:
    uses: ./.github/workflows/linters.yml
  tests:
    uses: ./.github/workflows/tests.yml
  fuzzing:
    uses: ./.github/workflows/fuzzing.yml
  nagger:
    uses: ./.github/workflows/nagger.yml

  check-all-green:
    if: always()
    needs:
    - build
    - linters
    - tests
    - fuzzing
    - nagger
    runs-on: ubuntu-22.04
    steps:
    - name: Collect statuses from all jobs
      uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
      with:
        jobs: ${{ toJSON(needs) }}
