name: Fuzzing
on: [workflow_call]
permissions: {}

jobs:
  telio-proto-fuzzing:
      runs-on: ubuntu-22.04
      steps:
        - name: Install Protoc
          uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
          with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
          with:
            toolchain: nightly-2025-08-07
            override: true
        - run: cargo install cargo-fuzz --locked --version 0.12.0
        - name: fuzz telio proto
          working-directory: crates/telio-proto
          run: cargo fuzz run packet -- -max_total_time=180
  telio-crypto-fuzzing:
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
          with:
            toolchain: nightly-2025-08-07
            override: true
        - run: cargo install cargo-fuzz --locked --version 0.12.0
        - name: fuzz telio crypto decrypt_request
          working-directory: crates/telio-crypto
          run: cargo fuzz run decrypt_request -- -max_total_time=180
        - name: fuzz telio crypto decrypt_request_inner
          working-directory: crates/telio-crypto
          run: cargo fuzz run decrypt_request_inner -- -max_total_time=180
        - name: fuzz telio crypto decrypt_response
          working-directory: crates/telio-crypto
          run: cargo fuzz run decrypt_response -- -max_total_time=180
  telio-pq-fuzzing:
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
          with:
            toolchain: nightly-2025-08-07
            override: true
        - run: cargo install cargo-fuzz --locked --version 0.12.0
        - name: fuzz telio pq parse_get_packet
          working-directory: crates/telio-pq
          run: cargo fuzz run parse_get_packet -- -max_total_time=180
        - name: fuzz telio pq parse_response_payload
          working-directory: crates/telio-pq
          run: cargo fuzz run parse_response_payload -- -max_total_time=180
  telio-starcast-fuzzing:
    runs-on: ubuntu-22.04
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
        with:
          toolchain: nightly-2025-08-07
          override: true
      - run: cargo install cargo-fuzz --locked --version 0.12.0
      - name: fuzz telio starcast nat translate_incoming
        working-directory: crates/telio-starcast
        run: cargo fuzz run translate_incoming -- -max_total_time=180
      - name: fuzz telio pq parse_response_payload
        working-directory: crates/telio-starcast
        run: cargo fuzz run translate_outgoing -- -max_total_time=180
