name: Fuzzing
on: [workflow_call]
permissions: {}

jobs:
  telio-proto-fuzzing:
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
          with:
            toolchain: nightly-2024-04-23
            override: true
        - run: cargo install cargo-fuzz --locked --version 0.12.0
        - name: fuzz telio proto
          working-directory: crates/telio-proto
          run: cargo fuzz run packet -- -max_total_time=180
  telio-crypto-fuzzing:
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
          with:
            toolchain: nightly-2024-04-23
            override: true
        - run: cargo install cargo-fuzz --locked --version 0.12.0
        - name: fuzz telio crypto decrypt_request
          working-directory: crates/telio-crypto
          run: cargo fuzz run decrypt_request -- -max_total_time=180
        - name: fuzz telio crypto decrypt_request_inner
          working-directory: crates/telio-crypto
          run: cargo fuzz run decrypt_request_inner -- -max_total_time=180
        - name: fuzz telio crypto decrypt_response
          working-directory: crates/telio-crypto
          run: cargo fuzz run decrypt_response -- -max_total_time=180
  telio-pq-fuzzing:
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
          with:
            toolchain: nightly-2024-04-23
            override: true
        - run: cargo install cargo-fuzz --locked --version 0.12.0
        - name: fuzz telio pq parse_get_packet
          working-directory: crates/telio-pq
          run: cargo fuzz run parse_get_packet -- -max_total_time=180
        - name: fuzz telio pq parse_response_payload
          working-directory: crates/telio-pq
          run: cargo fuzz run parse_response_payload -- -max_total_time=180
