name: Rust Docs to Github Pages
run-name: ${{ github.actor }} is building and deploying rustdoc to GitHub Pages from ${{ github.ref }}
# Because documentation versioning and build promotion are not implemente yet, leaving this to be triggered manually only for now.
on: [workflow_dispatch]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-22.04
    # Specifying these flags here as environment variables, because specifying them in the .cargo/config file interferes with the other
    # workflows, because of the nightly features.
    env:
        RUSTDOCFLAGS: "-Zunstable-options --enable-index-page -Aunknown_lints --html-in-header ./rustdoc/header.html --html-after-content ./rustdoc/multi-code.html --html-after-content ./rustdoc/footer.html"
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Configure GitHub Pages
      uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # 5.0.0

    - name: Build Rust Docs
      uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
      with:
        toolchain: nightly-2025-08-07
        components: rust-docs
    # Nightly is required, because index page generation is a nightly feature. Without it the index.html file will not be at the root of
    # The doc folder and gh-pages won't be able to find it.
    # --no-deps is required to prevent rustdoc from adding third party dependencies to our documentation, but that also brakes links to
    # local pages so that's fixed by adding --workspace.
    - run: cargo +nightly-2025-08-07 doc --no-deps --workspace --document-private-items

    # Using @v1 of actions/upload-pages-artifact, because the later versions are buggy: https://github.com/actions/deploy-pages/issues/179
    - name: Upload Github pages artifact
      uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # 3.0.1
      with:
        path: 'target/doc/'

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
