name: GitLab CI Pipeline
on:
  pull_request_target:
    types: [labeled]
  push:
    branches-ignore:
      - 'gh-readonly-queue/**'
      - 'main-[0-9]*-[a-zA-Z0-9]*'
  merge_group:
    types: [checks_requested]
permissions: {}

jobs:
  read-triggered-ref:
    uses: ./.github/workflows/read_dotenv.yml
    with:
      key: TRIGGERED_REF

  trigger-gitlab-pipeline:
    needs: read-triggered-ref
    uses: NordSecurity/trigger-gitlab-pipeline/.github/workflows/trigger-gitlab-pipeline.yml@94a5d4a0ac0d6353948f0493c894dbd44b179bde
    secrets:
      ci-api-v4-url: ${{ secrets.CI_API_V4_URL }}
      access-token: ${{ secrets.GITLAB_API_TOKEN }}
      trigger-token: ${{ secrets.TOKEN }}
      project-id: ${{ secrets.PROJECT_ID }}
    with:   
      cancel-outdated-pipelines: ${{ github.ref_name != 'main' }}
      triggered-ref: ${{ needs.read-triggered-ref.outputs.value }} # defined in .env file
