name: GitLab CI Pipeline
on:
  pull_request_target:
    types: [labeled]
  push:
  schedule:
    # Avoid running on 0 since a lot of other workflows on github start at that
    # time and this can cause delays or even dropping of jobs:
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: 18,48 18-23 * * *
    - cron: 17,47 0-5 * * *
permissions: {}

jobs:
  trigger-gitlab-pipeline:
    runs-on: [self-hosted, gitlab]
    if: |
      github.event_name == 'schedule' ||
      github.event_name == 'push' ||
      (
        github.event_name == 'pull_request_target' &&
        github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name &&
        github.event.label.name == 'run tests'
      )
    steps:
      - uses: NordSecurity/trigger-gitlab-pipeline@940714dbb5c77428fb13ecdb3a94cf929adfb65e # v2.0.0
        with:
          ci-api-v4-url: ${{ secrets.CI_API_V4_URL }}
          access-token: ${{ secrets.GITLAB_API_TOKEN }}
          trigger-token: ${{ secrets.TOKEN }}
          project-id: ${{ secrets.PROJECT_ID }}
          schedule: ${{ github.event_name == 'schedule' }}
          cancel-outdated-pipelines: ${{ github.ref_name != 'main' }}
          triggered-ref: snapshot-android-builds-test
