name: Linters
on: [workflow_call]
permissions: {}

jobs:
  uniffi-bindings:
      runs-on: ubuntu-22.04
      container:
          image: ghcr.io/nordsecurity/uniffi-generators:v0.28.3-4
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - run: uniffi-bindgen generate src/libtelio.udl --language python
        - run: mkdir -p dist/bindings/
        - run: cp src/telio.py dist/bindings/telio_bindings.py
        - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
          with:
            name: telio_bindings.py
            path: dist/bindings
  check:
      runs-on: ubuntu-22.04
      steps:
        - name: Install Protoc
          uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
          with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: actions-rs/cargo@ae10961054e4aa8b4aa7dffede299aaf087aa33b # v1.0.3
          with:
            command: check
            args: --target "x86_64-unknown-linux-gnu" --lib --color always
  clippy:
      runs-on: ubuntu-22.04
      steps:
        - name: Install Protoc
          uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
          with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
          with:
            just-version: '1.38.0'
        - run: just clippy
  clippy-win:
      runs-on: windows-2022
      steps:
        - name: Install Protoc
          uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
          with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
          with:
            just-version: '1.38.0'
        - run: just clippy
  clippy-mac:
      runs-on: macos-15
      steps:
        - name: Install Protoc
          uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
          with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
          with:
            just-version: '1.38.0'
        - run: just clippy
  clippy-nordvpnlite:
      runs-on: ubuntu-22.04
      steps:
        - name: Install Protoc
          uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
          with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
          with:
            just-version: '1.38.0'
        - run: just clippy nordvpnlite
  deny:
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
          with:
            just-version: '1.38.0'
        - run: just deny
  udeps:
      runs-on: ubuntu-22.04
      steps:
        - name: Install Protoc
          uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
          with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
          with:
            just-version: '1.38.0'
        - run: just udeps
  rustfmt:
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
          with:
            components: rustfmt
        - uses: actions-rs/cargo@ae10961054e4aa8b4aa7dffede299aaf087aa33b # v1.0.3
          with:
            command: fmt
            args: -- --check --color always
  python-format-black:
      runs-on: ubuntu-24.04
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
          with:
            just-version: '1.38.0'
        - name: Install uv
          uses: astral-sh/setup-uv@4db96194c378173c656ce18a155ffc14a9fc4355 # v5.2.2
          with:
            # Install a specific version of uv.
            version: "0.5.11"
        - run: just black
  python-format-isort:
      runs-on: ubuntu-24.04
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
          with:
            just-version: '1.38.0'
        - name: Install uv
          uses: astral-sh/setup-uv@4db96194c378173c656ce18a155ffc14a9fc4355 # v5.2.2
          with:
            # Install a specific version of uv.
            version: "0.5.11"
        - run: just isort
  python-format-autoflake:
      runs-on: ubuntu-24.04
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
          with:
            just-version: '1.38.0'
        - name: Install uv
          uses: astral-sh/setup-uv@4db96194c378173c656ce18a155ffc14a9fc4355 # 5.2.2
          with:
            # Install a specific version of uv.
            version: "0.5.11"
        - run: just autoflake
  python-lint:
      needs: uniffi-bindings
      runs-on: ubuntu-24.04
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
          with:
            name: telio_bindings.py
            path: dist/bindings
        - run: cp dist/bindings/telio_bindings.py nat-lab/tests/uniffi/telio_bindings.py
        - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
          with:
            just-version: '1.38.0'
        - name: Install uv
          uses: astral-sh/setup-uv@4db96194c378173c656ce18a155ffc14a9fc4355 # 5.2.2
          with:
            # Install a specific version of uv.
            version: "0.5.11"
        - run: just pylint
  natlab-typecheck:
      needs: uniffi-bindings
      runs-on: ubuntu-24.04
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
          with:
            name: telio_bindings.py
            path: dist/bindings
        - run: cp dist/bindings/telio_bindings.py nat-lab/tests/uniffi/telio_bindings.py
        - run: cp dist/bindings/telio_bindings.py nat-lab/tests/uniffi/telio_bindings.py
        - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
          with:
            just-version: '1.38.0'
        - name: Install uv
          uses: astral-sh/setup-uv@4db96194c378173c656ce18a155ffc14a9fc4355 # 5.2.2
          with:
            # Install a specific version of uv.
            version: "0.5.11"
        - run: just mypy
  unused-features:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
        with:
          just-version: '1.38.0'
      - run: just unused
  format-markdown:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
        with:
          just-version: '1.38.0'
      - run: just format_markdown
