name: Nagger
on: [workflow_call]
permissions: {}

jobs:
  nagger:
    runs-on: ubuntu-22.04
    container: ghcr.io/nordsecurity/nagger:v3.1.0
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1
      - run: CARGO_CFG_CURVE25519_DALEK_BACKEND="serial" RUSTFLAGS="-Dwarnings" DYLINT_LIBRARY_PATH=${NAGGER_PATH} cargo dylint --workspace --all
