name: Tests
on: [workflow_call]
permissions: {}

jobs:
  test-linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: cargo test --all --lib --bins --examples -- --nocapture
        env:
          RUST_BACKTRACE: full
      - run: cargo test --all --lib --bins --examples --features pretend_to_be_macos -- --nocapture
        env:
          RUST_BACKTRACE: full

  test-windows:
    runs-on: windows-2022
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: cargo test --all --lib -- --nocapture
        env:
          RUST_BACKTRACE: full

  test-mac:
    runs-on: macos-15
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: cargo test --all --lib -- --nocapture
        env:
          RUST_BACKTRACE: full

  test-replacement-script:
    runs-on: ubuntu-22.04
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Test replacement script
        run: python3 ci/test_replace_string.py

  test-nordvpnlite:
    runs-on: ubuntu-22.04
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: cargo test --package=nordvpnlite -- --nocapture
        env:
          RUST_BACKTRACE: full

  test-build-version-replacement:
    strategy:
      matrix:
        include:
          - arch: x86_64
            target_os: macos
            runner: macos-15-intel
          - arch: aarch64
            target_os: macos
            runner: macos-15
          - arch: x86_64
            target_os: linux
            runner: ubuntu-22.04
          - arch: x86_64
            target_os: windows
            runner: windows-2022
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          key: ${{ matrix.target_os }}-${{ matrix.arch }}
      - name: Setup MSVC
        uses: egor-tensin/vs-shell@9a932a62d05192eae18ca370155cf877eecc2202 # v2.1
        if: ${{ matrix.target_os == 'windows' }}
      - name: Install Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: install python3-requests
        run: pip3 install requests==2.32.3
        if: ${{ !contains(matrix.runner, 'macos-15') }}
      - name: activate python venv
        run: |
          python -m venv .venv
          source .venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV
        if: ${{ contains(matrix.runner, 'macos-15') }}
      - name: install python3-requests
        run: pip3 install requests==2.32.2
        if: ${{ contains(matrix.runner, 'macos-15') }}
      - name: Build libtelio
        run: python3 ci/build_libtelio.py build ${{ matrix.target_os }} ${{ matrix.arch }} --msvc
      - name: Replace and Test version
        if: ${{ matrix.target_os != 'windows' }}
        run: |
          if [[ ${{ matrix.target_os }} == "macos" ]]; then
              DIST_PATH="dist/darwin/macos"
          elif [[ ${{ matrix.target_os }} == "linux" ]]; then
              DIST_PATH="dist/linux"
          else
              echo "Unknown or unsupported target OS"
              exit 1
          fi
          python3 ci/insert_libtelio_version.py -n TEST_VERSION -p ./${DIST_PATH}
          ./${DIST_PATH}/release/${{ matrix.arch }}/tcli
          head -n 1 tcli.log | grep -a "TEST_VERSION"
      - name: Replace and Test version
        if: ${{ matrix.target_os == 'windows' }}
        run: |
          python ./ci/insert_libtelio_version.py -n TEST_VERSION -p ./dist/windows
          Start-Process -FilePath dist/windows/release/x86_64/tcli.exe -WindowStyle Hidden
          type tcli.log | findstr /C:"TEST_VERSION"
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: libtelio-build-${{ matrix.target_os }}-${{ matrix.arch }}-with-replaced-version
          path: dist/

  build-docs-on-mac:
    runs-on: macos-15
    env:
        RUSTDOCFLAGS: "-Zunstable-options --enable-index-page -Aunknown_lints --html-in-header ./rustdoc/header.html --html-after-content ./rustdoc/multi-code.html --html-after-content ./rustdoc/footer.html"
    steps:
    - name: Install Protoc
      uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Build Rust Docs
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly-2024-04-17
        components: rust-docs
    - run: cargo +nightly-2025-03-26 doc --no-deps --workspace --document-private-items

  test-release:
    runs-on: ubuntu-22.04
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: cargo test --release --lib --bins --examples -- --ignored
        env:
          RUST_BACKTRACE: full

  kani-proofs:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: 'Run Kani'
        uses: model-checking/kani-github-action@f838096619a707b0f6b2118cf435eaccfa33e51f # v1.1
        with:
          working-directory: 'crates/telio-utils'
