name: Tests
on: [workflow_call]
permissions: {}

jobs:
  test-linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions-rs/cargo@ae10961054e4aa8b4aa7dffede299aaf087aa33b # v1.0.3
        with:
          command: test
          args: --all -- --nocapture
      - uses: actions-rs/cargo@ae10961054e4aa8b4aa7dffede299aaf087aa33b # v1.0.3
        with:
          command: test
          args: --all --features pretend_to_be_macos -- --nocapture

  test-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions-rs/cargo@ae10961054e4aa8b4aa7dffede299aaf087aa33b # v1.0.3
        with:
          command: test
          args: --all --lib -- --nocapture

  test-mac:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions-rs/cargo@ae10961054e4aa8b4aa7dffede299aaf087aa33b # v1.0.3
        with:
          command: test
          args: --all --lib -- --nocapture

  test-replacement-script:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Test replacement script
        run: python3 ci/test_replace_string.py

  test-build-version-replacement:
    strategy:
      matrix:
        include:
          - arch: x86_64
            target_os: macos
            runner: macos-13
          - arch: aarch64
            target_os: macos
            runner: macos-14
          - arch: x86_64
            target_os: linux
            runner: ubuntu-22.04
          - arch: x86_64
            target_os: windows
            runner: windows-2022
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          submodules: true
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          key: ${{ matrix.target_os }}-${{ matrix.arch }}
      - name: Setup MSVC
        uses: egor-tensin/vs-shell@9a932a62d05192eae18ca370155cf877eecc2202 # v2.1
        if: ${{ matrix.target_os == 'windows' }}
      - name: Build libtelio
        run: python3 ci/build_libtelio.py build ${{ matrix.target_os }} ${{ matrix.arch }} --msvc
      - name: Replace and Test version
        if: ${{ matrix.target_os != 'windows' }}
        run: |
          if [[ ${{ matrix.target_os }} == "macos" ]]; then
              DIST_PATH="dist/darwin/macos"
          elif [[ ${{ matrix.target_os }} == "linux" ]]; then
              DIST_PATH="dist/linux"
          else
              echo "Unknown or unsupported target OS"
              exit 1
          fi
          ./ci/insert_libtelio_version.py -n TEST_VERSION -p ./${DIST_PATH}
          ./${DIST_PATH}/release/${{ matrix.arch }}/tcli
          head -n 1 tcli.log | grep -a "TEST_VERSION"
      - name: Replace and Test version
        if: ${{ matrix.target_os == 'windows' }}
        run: |
          python ./ci/insert_libtelio_version.py -n TEST_VERSION -p ./dist/windows
          Start-Process -FilePath dist/windows/release/x86_64/tcli.exe -WindowStyle Hidden
          type tcli.log | findstr /C:"TEST_VERSION"
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: libtelio-build-${{ matrix.target_os }}-${{ matrix.arch }}-with-replaced-version
          path: dist/

  build-docs-on-mac:
    runs-on: macos-13
    env:
        RUSTDOCFLAGS: "-Zunstable-options --enable-index-page -Aunknown_lints --html-in-header ./rustdoc/header.html --html-after-content ./rustdoc/multi-code.html --html-after-content ./rustdoc/footer.html"
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build Rust Docs
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly-2024-04-17
        components: rust-docs

    - run: cargo +nightly-2024-04-17 doc --no-deps --workspace --document-private-items
